<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Assignment_3</title>
	<script src="static/utility.js"></script>
  </head>
  <body>
	<div align = 'center' style = "margin-top:25px">
        <h3>Hello Admin!!!</h3><br>
        </div>
        <form name="my_form1" >
            Enter the name of book to be added &nbsp; <input type="text" name = "A"><br>
            Enter the count of book to be added &nbsp; <input type="text" name = "B"><br>
            <input type="button" class="btn btn-sm" onclick="submitData('submitJSON1')" value="Submit">	
            <button type="reset" class="btn btn-sm">Reset</button><br>
        </form>
	<div class="row">
    			<div class="col-md-8" align="left" style="float:left; margin-top: 0.45cm;" id="output_div">
    			</div>
    	</div> 
</body>
</html>