<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Assignment_3</title>
	<script src="static/utility.js"></script>
  </head>
  <body>
	<div align = 'center' style = "margin-top:275px">
        <h5>Welcome To Library Management System</h5><br>
        <p>You are</p>
        <a href = {{url_for('admin')}} type="button" class="btn btn-primary">Admin</a>
        <a href = {{url_for('user')}} type="button" class="btn btn-success">User</button></a>
    </div>
	<div class="row">
    			<div class="col-md-8" align="left" style="float:left; margin-top: 0.45cm;" id="output_div">
    			</div>
    	</div>
</body>
</html>